html{
	font-size:12pt;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:1rem;
	
}


.alltinnehall {
    width: 900px;
    border-style: solid;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(247, 134, 134);
}

.header {
background-color: rgb(255, 255, 255);
border: 2px solid #000000;
}

.standardtext {
    font-style: italic;
    display:block;
    margin: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color:antiquewhite;
    border: 2px solid #000000;
}

#formularet {
    width: 620px;
}


.leftcolumn {
    width: 620px;
}

.rightcolumn {
    position: absolute;
    display: block;
    margin-left: 680px;
    
}

.table {
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.prices{
    text-align: right;


}

.links {
    box-sizing: border-box;
    width: 210px;
    border: 2px solid #000000;
    padding:5px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin: 10px;
    margin-top: 1px;
}

.valdaskivor {
    box-sizing: border-box;
    width: 210px;
    border: 2px solid #000000;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin: 10px;

}

.sum {
    box-sizing: border-box;
    width: 210px;
    border: 2px solid #000000;
    padding:5px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin: 10px;
}

#disclaimer {
    border-style: dashed;
    border: 2px solid black;
    background-color: white;
    padding: 2px;
    margin-top: 5px;
}

.artist {
    font-style: italic;
    border-bottom: 2px solid #000000;
}
